[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "evbsreg"]
	path = evbsreg
	url = https://github.com/raydonal/evbsreg
[submodule "logcumulant"]
	path = logcumulant
	url = https://github.com/raydonal/logcumulant
[submodule "prLogistic"]
	path = prLogistic
	url = https://github.com/raydonal/prlogistic
[submodule "simplexgof"]
	path = simplexgof
	url = https://github.com/raydonal/simplexgof
