[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "logcumulant"]
	path = logcumulant
	url = https://github.com/raydonal/logcumulant
